In [19]:
import tabula
import pandas as pd
import numpy as np

In [5]:
df = tabula.read_pdf('p06.pdf')

In [6]:
df

,TIME/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00,12:00-1:00,1:00-2:00,NaN,2:00-3:00 3:00-4:00,NaN,4:00:5:00 5:00- 6:00
1,DAYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EO009(T1) EO009(T2),NaN,NaN
3,EO003,EO004,ITD07/EO009,NaN,NaN,NaN,NaN,NaN,NaN,ITD07(SH)
4,NaN,NaN,NaN,ITC20,EO004(T1),EO004(T2),NaN,NaN,NaN,NaN
5,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITD07(FH),NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,ITD18/EO,NaN,ITC19,NaN,NaN,NaN,EO004
9,NaN,NaN,ITD12,NaN,NaN,NaN,NaN,ITD18(T1) ITD18(T2),NaN,ITC21
10,TUESDAY,NaN,NaN,005,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,ITC19(T1),NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITC19,NaN,NaN
13,NaN,NaN,NaN,EO003,NaN,NaN,NaN,NaN,NaN,Free slot for seminars/ meetings
14,WEDNESDAY ITC21,ITC20,NaN,NaN,EO003(T1),EO003(T2),NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etc.
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,ITC20(T2),NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITC19(T2)
20,EO004,ITD07/,NaN,NaN,NaN,NaN,NaN,ITD12(FH),NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),NaN,NaN,NaN,NaN
23,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITD12(SH),NaN,ITC20(T1)
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,ITC21(FH) ITD07/,EO003,ITC20,NaN,NaN,NaN,NaN,ITD18/EO00,NaN,ITC19
28,EO009,NaN,NaN,ITC21,NaN,NaN,NaN,ITD12,NaN,NaN
29,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,ITC21(SH),NaN,NaN,NaN,NaN,NaN

In [11]:
from tabula import convert_into
convert_into('p06.pdf',"test.csv",output_format="csv")

In [15]:
modif = df.values.tolist()
modif

[['8:00-9:00',
  '9:00-10:00',
  '10:00-11:00',
  '11:00-12:00',
  '12:00-1:00',
  '1:00-2:00',
  nan,
  '2:00-3:00 3:00-4:00',
  nan,
  '4:00:5:00 5:00- 6:00'],
 ['DAYS', nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'EO009(T1) EO009(T2)', nan, nan],
 ['EO003', 'EO004', 'ITD07/EO009', nan, nan, nan, nan, nan, nan, 'ITD07(SH)'],
 [nan, nan, nan, 'ITC20', 'EO004(T1)', 'EO004(T2)', nan, nan, nan, nan],
 ['MONDAY', nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'ITD07(FH)', nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, 'ITD18/EO', nan, 'ITC19', nan, nan, nan, 'EO004'],
 [nan, nan, 'ITD12', nan, nan, nan, nan, 'ITD18(T1) ITD18(T2)', nan, 'ITC21'],
 ['TUESDAY', nan, nan, '005', nan, nan, nan, nan, nan, nan],
 [nan, nan, 'ITC19(T1)', nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'ITC19', nan, nan],
 [nan,
  nan,
  nan,
  'EO003',
  nan,
  nan,
  nan,
  nan,
  nan,
  'Free slot for seminars/ meetings'],
 ['WEDNESDAY ITC21',
  'ITC20',
  nan,
  nan,
  'EO003(T1)',
  'EO003(T2)',
  nan,
  nan,
  nan,
  nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, 'etc.'],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, 'ITC20(T2)', nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, 'ITC19(T2)'],
 ['EO004', 'ITD07/', nan, nan, nan, nan, nan, 'ITD12(FH)', nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan,
  'EO009',
  'ITD18/EO005',
  'ITD12',
  'EO005(T1)',
  'EO005(T2)',
  nan,
  nan,
  nan,
  nan],
 ['THURSDAY', nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'ITD12(SH)', nan, 'ITC20(T1)'],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 ['ITC21(FH)  ITD07/',
  'EO003',
  'ITC20',
  nan,
  nan,
  nan,
  nan,
  'ITD18/EO00',
  nan,
  'ITC19'],
 ['EO009', nan, nan, 'ITC21', nan, nan, nan, 'ITD12', nan, nan],
 ['FRIDAY', nan, nan, nan, nan, nan, nan, '5', nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, 'ITC21(SH)', nan, nan, nan, nan, nan]]

In [24]:
modif = np.array(modif)
modif.shape

modif.shape[0]

32

In [101]:
def convert_to_array(modif):
    result = [];
    for i in range(modif.shape[0]):
        sub_result=[]
        for j in range(modif.shape[1]):
            if modif[i][j]!='nan':
                sub_result.append(modif[i][j])
                
        if len(sub_result)!=0:
            result.append(np.array(sub_result))
        
    return np.array(result)

In [102]:
result = convert_to_array(modif)

In [108]:
print(result[4].shape)
result

(4,)

array([array(['Department: Information Technology'], dtype='<U34'),
       array(['Semester/Section: Sixth/II'], dtype='<U26'),
       array(['TIME/DAYS', '8:00-9:00', '9:00-10:00', '10:00-11:00',
       '11:00-12:00', '12:00-1:00', '1:00-2:00', '2:00-3:00', '3:00-4:00',
       '4:00:5:00', '5:00- 6:00'], dtype='<U11'),
       array(['EO009(T1)', 'EO009(T2)'], dtype='<U9'),
       array(['EO003', 'EO004', 'ITD07/EO009', 'ITD07(SH)'], dtype='<U11'),
       array(['ITC20', 'EO004(T1)', 'EO004(T2)'], dtype='<U9'),
       array(['MONDAY', 'ITD07(FH)'], dtype='<U9'),
       array(['ITD18/EO', 'ITC19', 'EO004'], dtype='<U8'),
       array(['ITD12', 'ITD18(T1)', 'ITD18(T2)', 'ITC21'], dtype='<U9'),
       array(['TUESDAY', '005'], dtype='<U7'),
       array(['ITC19(T1)', 'ITC19'], dtype='<U9'),
       array(['EO003', 'Free slot for seminars/ meetings'], dtype='<U32'),
       array(['WEDNESDAY', 'ITC21', 'ITC20', 'EO003(T1)', 'EO003(T2)'],
      dtype='<U9'),
       array(['etc.'], dtype='<U4'), array(['ITC20(T2)'], dtype='<U9'),
       array(['EO004', 'ITD07/', 'ITD12(FH)', 'ITC19(T2)'], dtype='<U9'),
       array(['EO009', 'ITD18/EO005', 'ITD12', 'EO005(T1)', 'EO005(T2)'],
      dtype='<U11'),
       array(['THURSDAY', 'ITD12(SH)', 'ITC20(T1)'], dtype='<U9'),
       array(['EO003', 'ITC20', 'ITC21(FH)', 'ITD18/EO00', 'ITC19'], dtype='<U10'),
       array(['FRIDAY', 'EO009', 'ITC21', 'ITC21(SH)', 'ITD12', '5'], dtype='<U9'),
       array(['1. Slot A: Internet and Web Engineering, ITC19',
       'Slot E2: Basics of HR Management, EO004'], dtype='<U46'),
       array(['2. Slot B: Compiler and Translator Design, ITC20',
       'Slot E3: Pattern Recognition, ITD07 /Entrepreneurship, EO009'],
      dtype='<U60'),
       array(['3. Slot C: Modeling and Simulation, ITC21',
       'Slot E4: Soft Computing, ITD18 /Project Management, EO005'],
      dtype='<U57'),
       array(['4. Slot E1: Basics of Financial Management, EO003',
       'Slot E5: Image Processing, ITD12'], dtype='<U49')], dtype=object)

In [104]:
current = pd.DataFrame(result)

In [105]:
current

                                                    0
0                [Department: Information Technology]
1                        [Semester/Section: Sixth/II]
2   [TIME/DAYS, 8:00-9:00, 9:00-10:00, 10:00-11:00...
3                              [EO009(T1), EO009(T2)]
4              [EO003, EO004, ITD07/EO009, ITD07(SH)]
5                       [ITC20, EO004(T1), EO004(T2)]
6                                 [MONDAY, ITD07(FH)]
7                            [ITD18/EO, ITC19, EO004]
8                [ITD12, ITD18(T1), ITD18(T2), ITC21]
9                                      [TUESDAY, 005]
10                                 [ITC19(T1), ITC19]
11          [EO003, Free slot for seminars/ meetings]
12    [WEDNESDAY, ITC21, ITC20, EO003(T1), EO003(T2)]
13                                             [etc.]
14                                        [ITC20(T2)]
15              [EO004, ITD07/, ITD12(FH), ITC19(T2)]
16  [EO009, ITD18/EO005, ITD12, EO005(T1), EO005(T2)]
17                   [THURSDAY, ITD12(SH), ITC20(T1)]
18       [EO003, ITC20, ITC21(FH), ITD18/EO00, ITC19]
19        [FRIDAY, EO009, ITC21, ITC21(SH), ITD12, 5]
20  [1. Slot A: Internet and Web Engineering, ITC1...
21  [2. Slot B: Compiler and Translator Design, IT...
22  [3. Slot C: Modeling and Simulation, ITC21, Sl...
23  [4. Slot E1: Basics of Financial Management, E...

In [36]:
import requests

In [42]:
def pdfToTable(PDFfilename, apiKey, fileExt, downloadDir):
    fileData = (PDFfilename, open(PDFfilename, 'rb'))
    files = {'f': fileData}
    postUrl = "https://pdftables.com/api?key={0}&format={1}".format(apiKey, fileExt)
    response = requests.post(postUrl, files=files)
    response.raise_for_status()
    with open(downloadDir, "wb") as f:
        f.write(response.content)

In [53]:
pdfToTable('p06.pdf','s36vvg3gakze','csv','resultf.csv')

In [54]:
df = pd.read_csv('resultf.csv')

In [55]:
df

,Netaji Subhas University of Technology (NSUT),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Department: Information Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Semester/Section: Sixth/II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TIME/DAYS,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00,12:00-1:00,1:00-2:00,2:00-3:00,3:00-4:00,4:00:5:00,5:00- 6:00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EO009(T1),EO009(T2),NaN,NaN
4,NaN,EO003,EO004,ITD07/EO009,NaN,NaN,NaN,NaN,NaN,ITD07(SH),NaN
5,NaN,NaN,NaN,NaN,ITC20,EO004(T1),EO004(T2),NaN,NaN,NaN,NaN
6,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,ITD07(FH),NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,ITD18/EO,NaN,ITC19,NaN,NaN,EO004,NaN
8,NaN,NaN,NaN,ITD12,NaN,NaN,NaN,ITD18(T1),ITD18(T2),NaN,ITC21
9,TUESDAY,NaN,NaN,NaN,005,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,ITC19(T1),NaN,NaN,NaN,NaN,ITC19,NaN,NaN
11,NaN,NaN,NaN,NaN,EO003,NaN,NaN,NaN,NaN,Free slot for seminars/ meetings,NaN
12,WEDNESDAY,ITC21,ITC20,NaN,NaN,EO003(T1),EO003(T2),NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etc.
14,NaN,NaN,NaN,ITC20(T2),NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,EO004,ITD07/,NaN,NaN,NaN,NaN,ITD12(FH),NaN,ITC19(T2),NaN
16,NaN,NaN,EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),NaN,NaN,NaN,NaN
17,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN,ITD12(SH),NaN,ITC20(T1),NaN
18,NaN,NaN,EO003,ITC20,NaN,ITC21(FH),NaN,NaN,ITD18/EO00,ITC19,NaN
19,FRIDAY,EO009,NaN,NaN,ITC21,ITC21(SH),NaN,ITD12,5,NaN,NaN
20,"1. Slot A: Internet and Web Engineering, ITC19",NaN,NaN,NaN,"Slot E2: Basics of HR Management, EO004",NaN,NaN,NaN,NaN,NaN,NaN
21,"2. Slot B: Compiler and Translator Design, ITC20",NaN,NaN,NaN,"Slot E3: Pattern Recognition, ITD07 /Entrepren...",NaN,NaN,NaN,NaN,NaN,NaN
22,"3. Slot C: Modeling and Simulation, ITC21",NaN,NaN,NaN,"Slot E4: Soft Computing, ITD18 /Project Manage...",NaN,NaN,NaN,NaN,NaN,NaN
23,"4. Slot E1: Basics of Financial Management, EO003",NaN,NaN,NaN,"Slot E5: Image Processing, ITD12",NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
modif = np.array(df.values.tolist())
print(modif.shape)
modif

(24, 11)

array([['Department: Information Technology', 'nan', 'nan', 'nan', 'nan',
        'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
       ['Semester/Section: Sixth/II', 'nan', 'nan', 'nan', 'nan', 'nan',
        'nan', 'nan', 'nan', 'nan', 'nan'],
       ['TIME/DAYS', '8:00-9:00', '9:00-10:00', '10:00-11:00',
        '11:00-12:00', '12:00-1:00', '1:00-2:00', '2:00-3:00',
        '3:00-4:00', '4:00:5:00', '5:00- 6:00'],
       ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'EO009(T1)',
        'EO009(T2)', 'nan', 'nan'],
       ['nan', 'EO003', 'EO004', 'ITD07/EO009', 'nan', 'nan', 'nan',
        'nan', 'nan', 'ITD07(SH)', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'ITC20', 'EO004(T1)', 'EO004(T2)',
        'nan', 'nan', 'nan', 'nan'],
       ['MONDAY', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'ITD07(FH)',
        'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'ITD18/EO', 'nan', 'ITC19', 'nan',
        'nan', 'EO004', 'nan'],
       ['nan', 'nan', 'nan', 'ITD12', 'nan', 'nan', 'nan', 'ITD18(T1)',
        'ITD18(T2)', 'nan', 'ITC21'],
       ['TUESDAY', 'nan', 'nan', 'nan', '005', 'nan', 'nan', 'nan',
        'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'ITC19(T1)', 'nan', 'nan', 'nan', 'nan',
        'ITC19', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'EO003', 'nan', 'nan', 'nan', 'nan',
        'Free slot for seminars/ meetings', 'nan'],
       ['WEDNESDAY', 'ITC21', 'ITC20', 'nan', 'nan', 'EO003(T1)',
        'EO003(T2)', 'nan', 'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan',
        'nan', 'etc.'],
       ['nan', 'nan', 'nan', 'ITC20(T2)', 'nan', 'nan', 'nan', 'nan',
        'nan', 'nan', 'nan'],
       ['nan', 'EO004', 'ITD07/', 'nan', 'nan', 'nan', 'nan',
        'ITD12(FH)', 'nan', 'ITC19(T2)', 'nan'],
       ['nan', 'nan', 'EO009', 'ITD18/EO005', 'ITD12', 'EO005(T1)',
        'EO005(T2)', 'nan', 'nan', 'nan', 'nan'],
       ['THURSDAY', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan',
        'ITD12(SH)', 'nan', 'ITC20(T1)', 'nan'],
       ['nan', 'nan', 'EO003', 'ITC20', 'nan', 'ITC21(FH)', 'nan', 'nan',
        'ITD18/EO00', 'ITC19', 'nan'],
       ['FRIDAY', 'EO009', 'nan', 'nan', 'ITC21', 'ITC21(SH)', 'nan',
        'ITD12', '5', 'nan', 'nan'],
       ['1. Slot A: Internet and Web Engineering, ITC19', 'nan', 'nan',
        'nan', 'Slot E2: Basics of HR Management, EO004', 'nan', 'nan',
        'nan', 'nan', 'nan', 'nan'],
       ['2. Slot B: Compiler and Translator Design, ITC20', 'nan', 'nan',
        'nan',
        'Slot E3: Pattern Recognition, ITD07 /Entrepreneurship, EO009',
        'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
       ['3. Slot C: Modeling and Simulation, ITC21', 'nan', 'nan', 'nan',
        'Slot E4: Soft Computing, ITD18 /Project Management, EO005',
        'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
       ['4. Slot E1: Basics of Financial Management, EO003', 'nan',
        'nan', 'nan', 'Slot E5: Image Processing, ITD12', 'nan', 'nan',
        'nan', 'nan', 'nan', 'nan']], dtype='<U60')

In [68]:
x = np.delete(modif, (0,1,), axis=0)
print(x.shape)
x

(22, 11)

array([['TIME/DAYS', '8:00-9:00', '9:00-10:00', '10:00-11:00',
        '11:00-12:00', '12:00-1:00', '1:00-2:00', '2:00-3:00',
        '3:00-4:00', '4:00:5:00', '5:00- 6:00'],
       ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'EO009(T1)',
        'EO009(T2)', 'nan', 'nan'],
       ['nan', 'EO003', 'EO004', 'ITD07/EO009', 'nan', 'nan', 'nan',
        'nan', 'nan', 'ITD07(SH)', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'ITC20', 'EO004(T1)', 'EO004(T2)',
        'nan', 'nan', 'nan', 'nan'],
       ['MONDAY', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'ITD07(FH)',
        'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'ITD18/EO', 'nan', 'ITC19', 'nan',
        'nan', 'EO004', 'nan'],
       ['nan', 'nan', 'nan', 'ITD12', 'nan', 'nan', 'nan', 'ITD18(T1)',
        'ITD18(T2)', 'nan', 'ITC21'],
       ['TUESDAY', 'nan', 'nan', 'nan', '005', 'nan', 'nan', 'nan',
        'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'ITC19(T1)', 'nan', 'nan', 'nan', 'nan',
        'ITC19', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'EO003', 'nan', 'nan', 'nan', 'nan',
        'Free slot for seminars/ meetings', 'nan'],
       ['WEDNESDAY', 'ITC21', 'ITC20', 'nan', 'nan', 'EO003(T1)',
        'EO003(T2)', 'nan', 'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan',
        'nan', 'etc.'],
       ['nan', 'nan', 'nan', 'ITC20(T2)', 'nan', 'nan', 'nan', 'nan',
        'nan', 'nan', 'nan'],
       ['nan', 'EO004', 'ITD07/', 'nan', 'nan', 'nan', 'nan',
        'ITD12(FH)', 'nan', 'ITC19(T2)', 'nan'],
       ['nan', 'nan', 'EO009', 'ITD18/EO005', 'ITD12', 'EO005(T1)',
        'EO005(T2)', 'nan', 'nan', 'nan', 'nan'],
       ['THURSDAY', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan',
        'ITD12(SH)', 'nan', 'ITC20(T1)', 'nan'],
       ['nan', 'nan', 'EO003', 'ITC20', 'nan', 'ITC21(FH)', 'nan', 'nan',
        'ITD18/EO00', 'ITC19', 'nan'],
       ['FRIDAY', 'EO009', 'nan', 'nan', 'ITC21', 'ITC21(SH)', 'nan',
        'ITD12', '5', 'nan', 'nan'],
       ['1. Slot A: Internet and Web Engineering, ITC19', 'nan', 'nan',
        'nan', 'Slot E2: Basics of HR Management, EO004', 'nan', 'nan',
        'nan', 'nan', 'nan', 'nan'],
       ['2. Slot B: Compiler and Translator Design, ITC20', 'nan', 'nan',
        'nan',
        'Slot E3: Pattern Recognition, ITD07 /Entrepreneurship, EO009',
        'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
       ['3. Slot C: Modeling and Simulation, ITC21', 'nan', 'nan', 'nan',
        'Slot E4: Soft Computing, ITD18 /Project Management, EO005',
        'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
       ['4. Slot E1: Basics of Financial Management, EO003', 'nan',
        'nan', 'nan', 'Slot E5: Image Processing, ITD12', 'nan', 'nan',
        'nan', 'nan', 'nan', 'nan']], dtype='<U60')

In [98]:
y = np.array(x[18:21])
y

array([['1. Slot A: Internet and Web Engineering, ITC19', 'nan', 'nan',
        'nan', 'Slot E2: Basics of HR Management, EO004', 'nan', 'nan',
        'nan', 'nan', 'nan', 'nan'],
       ['2. Slot B: Compiler and Translator Design, ITC20', 'nan', 'nan',
        'nan',
        'Slot E3: Pattern Recognition, ITD07 /Entrepreneurship, EO009',
        'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
       ['3. Slot C: Modeling and Simulation, ITC21', 'nan', 'nan', 'nan',
        'Slot E4: Soft Computing, ITD18 /Project Management, EO005',
        'nan', 'nan', 'nan', 'nan', 'nan', 'nan']], dtype='<U60')

In [109]:
y = convert_to_array(y)
y = y[1:y.shape[0]]
y

array([['2. Slot B: Compiler and Translator Design, ITC20',
        'Slot E3: Pattern Recognition, ITD07 /Entrepreneurship, EO009'],
       ['3. Slot C: Modeling and Simulation, ITC21',
        'Slot E4: Soft Computing, ITD18 /Project Management, EO005']],
      dtype='<U60')

In [110]:
print(y.shape)
print(y[0].shape)
y

(2, 2)
(2,)

array([['2. Slot B: Compiler and Translator Design, ITC20',
        'Slot E3: Pattern Recognition, ITD07 /Entrepreneurship, EO009'],
       ['3. Slot C: Modeling and Simulation, ITC21',
        'Slot E4: Soft Computing, ITD18 /Project Management, EO005']],
      dtype='<U60')

In [113]:
Slots = []

for i in range(y.shape[0]):
    for j in range(y.shape[0][0]):
        Slots.append(y[i][j])
        
Slots

TypeError: 'int' object is not subscriptable