In [179]:
import camelot
import pandas as pd
import numpy as np
import re
import copy

In [180]:
table = camelot.read_pdf('p06.pdf',process_background=True,copy_text=['h'])

In [181]:
table

In [182]:
df = table[0].df
df

,0,1,2,3,4,5,6,7,8,9,10
0,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...
1,MONDAY,EO003,EO004,ITD07/EO009,ITC20,EO004(T1) EO004(T2),EO004(T1) EO004(T2),EO009(T1) EO009(T2) ITD07(FH),EO009(T1) EO009(T2) ITD07(FH),ITD07(SH),ITD07(SH)
2,TUESDAY,,,ITD12,ITD18/EO005,ITC19,ITC19,ITD18(T1),ITD18(T2),EO004,ITC21
3,WEDNESDAY,ITC21,ITC20,ITC19(T1) ITC20(T2),EO003,EO003(T1),EO003(T2),,ITC19,Free slot for seminars/ meetings etc.,Free slot for seminars/ meetings etc.
4,THURSDAY,EO004,ITD07/ EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),
5,FRIDAY,ITD07/ EO009,EO003,ITC20,ITC21,ITC21(FH) ITC21(SH),ITC21(FH) ITC21(SH),ITD12,ITD18/EO005,ITC19,

In [183]:
table[0]

In [184]:
table.export('out.csv', f='csv', compress=False)

In [185]:
table[0].parsing_report

{'accuracy': 96.39, 'whitespace': 7.58, 'order': 1, 'page': 1}

In [186]:
table[0].to_excel('out.xls')

In [187]:
out = df.values.tolist()

In [188]:
out

[['TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS',
  'TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-12:00 12:00-1:00 1:00-2:00 2:00-3:00 3:00-4:00 4:00:5:00 5:00- 6:00 DAYS'],
 ['MONDAY',
  'EO003',
  'EO004',
  'ITD07/EO009',
  'ITC20',
  'EO004(T1) EO004(T2)',
  'EO004(T1) EO004(T2)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'ITD07(SH)',
  'ITD07(SH)'],
 ['TUESDAY',
  '',
  '',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  'ITC19',
  'ITD18(T1)',
  'ITD18(T2)',
  'EO004',
  'ITC21'],
 ['WEDNESDAY',
  'ITC21',
  'ITC20',
  'ITC19(T1) ITC20(T2)',
  'EO003',
  'EO003(T1)',
  'EO003(T2)',
  '',
  'ITC19',
  'Free slot for seminars/ meetings etc.',
  'Free slot for seminars/ meetings etc.'],
 ['THURSDAY',
  'EO004',
  'ITD07/ EO009',
  'ITD18/EO005',
  'ITD12',
  'EO005(T1)',
  'EO005(T2)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  ''],
 ['FRIDAY',
  'ITD07/ EO009',
  'EO003',
  'ITC20',
  'ITC21',
  'ITC21(FH) ITC21(SH)',
  'ITC21(FH) ITC21(SH)',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  '']]

In [189]:
out2 = out[1:]

In [190]:
out2

[['MONDAY',
  'EO003',
  'EO004',
  'ITD07/EO009',
  'ITC20',
  'EO004(T1) EO004(T2)',
  'EO004(T1) EO004(T2)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'ITD07(SH)',
  'ITD07(SH)'],
 ['TUESDAY',
  '',
  '',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  'ITC19',
  'ITD18(T1)',
  'ITD18(T2)',
  'EO004',
  'ITC21'],
 ['WEDNESDAY',
  'ITC21',
  'ITC20',
  'ITC19(T1) ITC20(T2)',
  'EO003',
  'EO003(T1)',
  'EO003(T2)',
  '',
  'ITC19',
  'Free slot for seminars/ meetings etc.',
  'Free slot for seminars/ meetings etc.'],
 ['THURSDAY',
  'EO004',
  'ITD07/ EO009',
  'ITD18/EO005',
  'ITD12',
  'EO005(T1)',
  'EO005(T2)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  ''],
 ['FRIDAY',
  'ITD07/ EO009',
  'EO003',
  'ITC20',
  'ITC21',
  'ITC21(FH) ITC21(SH)',
  'ITC21(FH) ITC21(SH)',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  '']]

In [191]:
df2 = pd.DataFrame(out2)

In [192]:
df2

,0,1,2,3,4,5,6,7,8,9,10
0,MONDAY,EO003,EO004,ITD07/EO009,ITC20,EO004(T1) EO004(T2),EO004(T1) EO004(T2),EO009(T1) EO009(T2) ITD07(FH),EO009(T1) EO009(T2) ITD07(FH),ITD07(SH),ITD07(SH)
1,TUESDAY,,,ITD12,ITD18/EO005,ITC19,ITC19,ITD18(T1),ITD18(T2),EO004,ITC21
2,WEDNESDAY,ITC21,ITC20,ITC19(T1) ITC20(T2),EO003,EO003(T1),EO003(T2),,ITC19,Free slot for seminars/ meetings etc.,Free slot for seminars/ meetings etc.
3,THURSDAY,EO004,ITD07/ EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),
4,FRIDAY,ITD07/ EO009,EO003,ITC20,ITC21,ITC21(FH) ITC21(SH),ITC21(FH) ITC21(SH),ITD12,ITD18/EO005,ITC19,

In [193]:
subjects = ['EO003','ITC20','ITC21','ITD07','ITD18','ITC19','ITD12']

In [194]:
any(substring in 'ITD07(FH)' for substring in subjects)

True

In [195]:
any(substring in 'EO009' for substring in subjects)

False

In [196]:
text = "ITD18/EO005"

text.split('/')

['ITD18', 'EO005']

In [197]:
out3 = df2.values.tolist()

In [198]:
out3

[['MONDAY',
  'EO003',
  'EO004',
  'ITD07/EO009',
  'ITC20',
  'EO004(T1) EO004(T2)',
  'EO004(T1) EO004(T2)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'ITD07(SH)',
  'ITD07(SH)'],
 ['TUESDAY',
  '',
  '',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  'ITC19',
  'ITD18(T1)',
  'ITD18(T2)',
  'EO004',
  'ITC21'],
 ['WEDNESDAY',
  'ITC21',
  'ITC20',
  'ITC19(T1) ITC20(T2)',
  'EO003',
  'EO003(T1)',
  'EO003(T2)',
  '',
  'ITC19',
  'Free slot for seminars/ meetings etc.',
  'Free slot for seminars/ meetings etc.'],
 ['THURSDAY',
  'EO004',
  'ITD07/ EO009',
  'ITD18/EO005',
  'ITD12',
  'EO005(T1)',
  'EO005(T2)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  ''],
 ['FRIDAY',
  'ITD07/ EO009',
  'EO003',
  'ITC20',
  'ITC21',
  'ITC21(FH) ITC21(SH)',
  'ITC21(FH) ITC21(SH)',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  '']]

In [199]:
for i in range(len(out3)):
    out3[i] = out3[i][1:]

In [200]:
len(out3)

5

In [201]:
out3

[['EO003',
  'EO004',
  'ITD07/EO009',
  'ITC20',
  'EO004(T1) EO004(T2)',
  'EO004(T1) EO004(T2)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'EO009(T1) EO009(T2)   ITD07(FH)',
  'ITD07(SH)',
  'ITD07(SH)'],
 ['',
  '',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  'ITC19',
  'ITD18(T1)',
  'ITD18(T2)',
  'EO004',
  'ITC21'],
 ['ITC21',
  'ITC20',
  'ITC19(T1) ITC20(T2)',
  'EO003',
  'EO003(T1)',
  'EO003(T2)',
  '',
  'ITC19',
  'Free slot for seminars/ meetings etc.',
  'Free slot for seminars/ meetings etc.'],
 ['EO004',
  'ITD07/ EO009',
  'ITD18/EO005',
  'ITD12',
  'EO005(T1)',
  'EO005(T2)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  'ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1)',
  ''],
 ['ITD07/ EO009',
  'EO003',
  'ITC20',
  'ITC21',
  'ITC21(FH) ITC21(SH)',
  'ITC21(FH) ITC21(SH)',
  'ITD12',
  'ITD18/EO005',
  'ITC19',
  '']]

In [202]:
for i in range(len(out3)):
    for j in range(len(out3[i])):
        current = out3[i][j].replace(' ','/')
        #print(len(current))
        #print(current)
        aux = ''
        prev = ''
        for k in range(len(current)):
            if prev=='/' and current[k]=='/':
                continue;
            else:
                aux += current[k]
            prev = current[k]
        print(aux)
        out3[i][j] = aux.split('/')
        #print(current.split('/'))

EO003
EO004
ITD07/EO009
ITC20
EO004(T1)/EO004(T2)
EO004(T1)/EO004(T2)
EO009(T1)/EO009(T2)/ITD07(FH)
EO009(T1)/EO009(T2)/ITD07(FH)
ITD07(SH)
ITD07(SH)


ITD12
ITD18/EO005
ITC19
ITC19
ITD18(T1)
ITD18(T2)
EO004
ITC21
ITC21
ITC20
ITC19(T1)/ITC20(T2)
EO003
EO003(T1)
EO003(T2)

ITC19
Free/slot/for/seminars/meetings/etc.
Free/slot/for/seminars/meetings/etc.
EO004
ITD07/EO009
ITD18/EO005
ITD12
EO005(T1)
EO005(T2)
ITC19(T2)/ITD12(FH)/ITD12(SH)/ITC20(T1)
ITC19(T2)/ITD12(FH)/ITD12(SH)/ITC20(T1)
ITC19(T2)/ITD12(FH)/ITD12(SH)/ITC20(T1)

ITD07/EO009
EO003
ITC20
ITC21
ITC21(FH)/ITC21(SH)
ITC21(FH)/ITC21(SH)
ITD12
ITD18/EO005
ITC19

In [203]:
out3

[[['EO003'],
  ['EO004'],
  ['ITD07', 'EO009'],
  ['ITC20'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  ['EO004'],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  ['Free', 'slot', 'for', 'seminars', 'meetings', 'etc.'],
  ['Free', 'slot', 'for', 'seminars', 'meetings', 'etc.']],
 [['EO004'],
  ['ITD07', 'EO009'],
  ['ITD18', 'EO005'],
  ['ITD12'],
  ['EO005(T1)'],
  ['EO005(T2)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07', 'EO009'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['']]]

In [204]:
out3[2][9] = ['']
out3[2][8] = ['']

In [205]:
out3

[[['EO003'],
  ['EO004'],
  ['ITD07', 'EO009'],
  ['ITC20'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  ['EO004'],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [['EO004'],
  ['ITD07', 'EO009'],
  ['ITD18', 'EO005'],
  ['ITD12'],
  ['EO005(T1)'],
  ['EO005(T2)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07', 'EO009'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['']]]

In [206]:
arr = [2,3]

In [207]:
text2 = "hello"

text2.split()

['hello']

In [208]:
out3

[[['EO003'],
  ['EO004'],
  ['ITD07', 'EO009'],
  ['ITC20'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  ['EO004'],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [['EO004'],
  ['ITD07', 'EO009'],
  ['ITD18', 'EO005'],
  ['ITD12'],
  ['EO005(T1)'],
  ['EO005(T2)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07', 'EO009'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['']]]

In [209]:
print(len(out3[0]))

out3[0]

10

[['EO003'],
 ['EO004'],
 ['ITD07', 'EO009'],
 ['ITC20'],
 ['EO004(T1)', 'EO004(T2)'],
 ['EO004(T1)', 'EO004(T2)'],
 ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
 ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
 ['ITD07(SH)'],
 ['ITD07(SH)']]

In [210]:
out3[0][0][0][0]

'E'

In [211]:
# for i in range(len(out3)):
#     for j in range(len(out3[i])):
#         if len(out3[i][j])>1:
#             new_list = []
#             print(out3[i][j][0])
#             print(out3[i][j][1])
#             for k in range(len(out3[i][j][0])):
#                 if out3[i][j][0][k]!="":
#                     print(out[i][j][0][k])
#                     new_list.append(out3[i][j][0][k])
#             out3[i][j][0] = new_list

In [212]:
out3

[[['EO003'],
  ['EO004'],
  ['ITD07', 'EO009'],
  ['ITC20'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  ['EO004'],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [['EO004'],
  ['ITD07', 'EO009'],
  ['ITD18', 'EO005'],
  ['ITD12'],
  ['EO005(T1)'],
  ['EO005(T2)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07', 'EO009'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['']]]

In [213]:
# out3[0][6][0][2]==''

In [214]:
out3

[[['EO003'],
  ['EO004'],
  ['ITD07', 'EO009'],
  ['ITC20'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  ['EO004'],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [['EO004'],
  ['ITD07', 'EO009'],
  ['ITD18', 'EO005'],
  ['ITD12'],
  ['EO005(T1)'],
  ['EO005(T2)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07', 'EO009'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['']]]

In [215]:
out4 = copy.deepcopy(out3)
out4

[[['EO003'],
  ['EO004'],
  ['ITD07', 'EO009'],
  ['ITC20'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO004(T1)', 'EO004(T2)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['EO009(T1)', 'EO009(T2)', 'ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  ['EO004'],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [['EO004'],
  ['ITD07', 'EO009'],
  ['ITD18', 'EO005'],
  ['ITD12'],
  ['EO005(T1)'],
  ['EO005(T2)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07', 'EO009'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18', 'EO005'],
  ['ITC19'],
  ['']]]

In [216]:
any(substring in 'ITD07(FH)' for substring in subjects)

True

In [234]:
for i in range(len(out4)):
    for j in range(len(out4[i])):
        new_list = []
        for k in range(len(out4[i][j])):
            print(out4[i][j][k],any(substring in out4[i][j][k] for substring in subjects))
            if out4[i][j][k]!='' and any(substring in out4[i][j][k] for substring in subjects):
                new_list.append(out4[i][j][k])
        print(new_list)
        if len(new_list)==0:
            new_list.append('')
        out4[i][j] = new_list

EO003 True
['EO003']
[]
ITD07 True
['ITD07']
ITC20 True
['ITC20']
[]
[]
ITD07(FH) True
['ITD07(FH)']
ITD07(FH) True
['ITD07(FH)']
ITD07(SH) True
['ITD07(SH)']
ITD07(SH) True
['ITD07(SH)']
[]
[]
ITD12 True
['ITD12']
ITD18 True
['ITD18']
ITC19 True
['ITC19']
ITC19 True
['ITC19']
ITD18(T1) True
['ITD18(T1)']
ITD18(T2) True
['ITD18(T2)']
[]
ITC21 True
['ITC21']
ITC21 True
['ITC21']
ITC20 True
['ITC20']
ITC19(T1) True
ITC20(T2) True
['ITC19(T1)', 'ITC20(T2)']
EO003 True
['EO003']
EO003(T1) True
['EO003(T1)']
EO003(T2) True
['EO003(T2)']
[]
ITC19 True
['ITC19']
[]
[]
[]
ITD07 True
['ITD07']
ITD18 True
['ITD18']
ITD12 True
['ITD12']
[]
[]
ITC19(T2) True
ITD12(FH) True
ITD12(SH) True
ITC20(T1) True
['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)']
ITC19(T2) True
ITD12(FH) True
ITD12(SH) True
ITC20(T1) True
['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)']
ITC19(T2) True
ITD12(FH) True
ITD12(SH) True
ITC20(T1) True
['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)']
[]
ITD07 True
['ITD07']
EO003 True
['EO003']
ITC20 True
['ITC20']
ITC21 True
['ITC21']
ITC21(FH) True
ITC21(SH) True
['ITC21(FH)', 'ITC21(SH)']
ITC21(FH) True
ITC21(SH) True
['ITC21(FH)', 'ITC21(SH)']
ITD12 True
['ITD12']
ITD18 True
['ITD18']
ITC19 True
['ITC19']
[]

In [235]:
out4

[[['EO003'],
  [''],
  ['ITD07'],
  ['ITC20'],
  [''],
  [''],
  ['ITD07(FH)'],
  ['ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  [''],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [[''],
  ['ITD07'],
  ['ITD18'],
  ['ITD12'],
  [''],
  [''],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['']]]

In [236]:
df3 = pd.DataFrame(out4)

In [237]:
df3

,0,1,2,3,4,5,6,7,8,9
0,[EO003],[],[ITD07],[ITC20],[],[],[ITD07(FH)],[ITD07(FH)],[ITD07(SH)],[ITD07(SH)]
1,[],[],[ITD12],[ITD18],[ITC19],[ITC19],[ITD18(T1)],[ITD18(T2)],[],[ITC21]
2,[ITC21],[ITC20],"[ITC19(T1), ITC20(T2)]",[EO003],[EO003(T1)],[EO003(T2)],[],[ITC19],[],[]
3,[],[ITD07],[ITD18],[ITD12],[],[],"[ITC19(T2), ITD12(FH), ITD12(SH), ITC20(T1)]","[ITC19(T2), ITD12(FH), ITD12(SH), ITC20(T1)]","[ITC19(T2), ITD12(FH), ITD12(SH), ITC20(T1)]",[]
4,[ITD07],[EO003],[ITC20],[ITC21],"[ITC21(FH), ITC21(SH)]","[ITC21(FH), ITC21(SH)]",[ITD12],[ITD18],[ITC19],[]

In [257]:
out5 = copy.deepcopy(out4)
out5

[[['EO003'],
  [''],
  ['ITD07'],
  ['ITC20'],
  [''],
  [''],
  ['ITD07(FH)'],
  ['ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  [''],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [[''],
  ['ITD07'],
  ['ITD18'],
  ['ITD12'],
  [''],
  [''],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['']]]

In [252]:
# for i in range(len(out5)):
#     for j in range(len(out5[i])):
#         #print(out5[i][j])
#         if len(out5[i][j])>1:
#             for k in range(len(out5[i][j])):
#                 if out5[i][j][k].find('SH')!=-1:
#                     del out5[i][j][k]
#                 elif out5[i][j][k].find('T2')!=-1:
#                     del out5[i][j][k]

In [258]:
for i in range(len(out5)):
    for j in range(len(out5[i])):
        print(out5[i][j])

['EO003']
['']
['ITD07']
['ITC20']
['']
['']
['ITD07(FH)']
['ITD07(FH)']
['ITD07(SH)']
['ITD07(SH)']
['']
['']
['ITD12']
['ITD18']
['ITC19']
['ITC19']
['ITD18(T1)']
['ITD18(T2)']
['']
['ITC21']
['ITC21']
['ITC20']
['ITC19(T1)', 'ITC20(T2)']
['EO003']
['EO003(T1)']
['EO003(T2)']
['']
['ITC19']
['']
['']
['']
['ITD07']
['ITD18']
['ITD12']
['']
['']
['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)']
['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)']
['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)']
['']
['ITD07']
['EO003']
['ITC20']
['ITC21']
['ITC21(FH)', 'ITC21(SH)']
['ITC21(FH)', 'ITC21(SH)']
['ITD12']
['ITD18']
['ITC19']
['']

In [259]:
out5

[[['EO003'],
  [''],
  ['ITD07'],
  ['ITC20'],
  [''],
  [''],
  ['ITD07(FH)'],
  ['ITD07(FH)'],
  ['ITD07(SH)'],
  ['ITD07(SH)']],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  ['ITD18(T2)'],
  [''],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)', 'ITC20(T2)'],
  ['EO003'],
  ['EO003(T1)'],
  ['EO003(T2)'],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [[''],
  ['ITD07'],
  ['ITD18'],
  ['ITD12'],
  [''],
  [''],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['ITC19(T2)', 'ITD12(FH)', 'ITD12(SH)', 'ITC20(T1)'],
  ['']],
 [['ITD07'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITC21(FH)', 'ITC21(SH)'],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['']]]

In [260]:
for i in range(len(out5)):
    for j in range(len(out5[i])):
        new_list = []
        for k in range(len(out5[i][j])):
            print(out5[i][j][k])
            if 'SH' not in out5[i][j][k] and 'T2' not in out5[i][j][k]:
                new_list.append(out5[i][j][k])
            
        out5[i][j] = new_list

EO003

ITD07
ITC20


ITD07(FH)
ITD07(FH)
ITD07(SH)
ITD07(SH)


ITD12
ITD18
ITC19
ITC19
ITD18(T1)
ITD18(T2)

ITC21
ITC21
ITC20
ITC19(T1)
ITC20(T2)
EO003
EO003(T1)
EO003(T2)

ITC19



ITD07
ITD18
ITD12


ITC19(T2)
ITD12(FH)
ITD12(SH)
ITC20(T1)
ITC19(T2)
ITD12(FH)
ITD12(SH)
ITC20(T1)
ITC19(T2)
ITD12(FH)
ITD12(SH)
ITC20(T1)

ITD07
EO003
ITC20
ITC21
ITC21(FH)
ITC21(SH)
ITC21(FH)
ITC21(SH)
ITD12
ITD18
ITC19

In [261]:
out5

[[['EO003'],
  [''],
  ['ITD07'],
  ['ITC20'],
  [''],
  [''],
  ['ITD07(FH)'],
  ['ITD07(FH)'],
  [],
  []],
 [[''],
  [''],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['ITC19'],
  ['ITD18(T1)'],
  [],
  [''],
  ['ITC21']],
 [['ITC21'],
  ['ITC20'],
  ['ITC19(T1)'],
  ['EO003'],
  ['EO003(T1)'],
  [],
  [''],
  ['ITC19'],
  [''],
  ['']],
 [[''],
  ['ITD07'],
  ['ITD18'],
  ['ITD12'],
  [''],
  [''],
  ['ITD12(FH)', 'ITC20(T1)'],
  ['ITD12(FH)', 'ITC20(T1)'],
  ['ITD12(FH)', 'ITC20(T1)'],
  ['']],
 [['ITD07'],
  ['EO003'],
  ['ITC20'],
  ['ITC21'],
  ['ITC21(FH)'],
  ['ITC21(FH)'],
  ['ITD12'],
  ['ITD18'],
  ['ITC19'],
  ['']]]

In [262]:
df4 = pd.DataFrame(out5)

In [263]:
df4

,0,1,2,3,4,5,6,7,8,9
0,[EO003],[],[ITD07],[ITC20],[],[],[ITD07(FH)],[ITD07(FH)],[],[]
1,[],[],[ITD12],[ITD18],[ITC19],[ITC19],[ITD18(T1)],[],[],[ITC21]
2,[ITC21],[ITC20],[ITC19(T1)],[EO003],[EO003(T1)],[],[],[ITC19],[],[]
3,[],[ITD07],[ITD18],[ITD12],[],[],"[ITD12(FH), ITC20(T1)]","[ITD12(FH), ITC20(T1)]","[ITD12(FH), ITC20(T1)]",[]
4,[ITD07],[EO003],[ITC20],[ITC21],[ITC21(FH)],[ITC21(FH)],[ITD12],[ITD18],[ITC19],[]