In [4]:
import tabula
import pandas as pd

In [5]:
df = tabula.read_pdf('p06.pdf')

In [6]:
df

,TIME/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00,12:00-1:00,1:00-2:00,NaN,2:00-3:00 3:00-4:00,NaN,4:00:5:00 5:00- 6:00
1,DAYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EO009(T1) EO009(T2),NaN,NaN
3,EO003,EO004,ITD07/EO009,NaN,NaN,NaN,NaN,NaN,NaN,ITD07(SH)
4,NaN,NaN,NaN,ITC20,EO004(T1),EO004(T2),NaN,NaN,NaN,NaN
5,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITD07(FH),NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,ITD18/EO,NaN,ITC19,NaN,NaN,NaN,EO004
9,NaN,NaN,ITD12,NaN,NaN,NaN,NaN,ITD18(T1) ITD18(T2),NaN,ITC21
10,TUESDAY,NaN,NaN,005,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,ITC19(T1),NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITC19,NaN,NaN
13,NaN,NaN,NaN,EO003,NaN,NaN,NaN,NaN,NaN,Free slot for seminars/ meetings
14,WEDNESDAY ITC21,ITC20,NaN,NaN,EO003(T1),EO003(T2),NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etc.
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,ITC20(T2),NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITC19(T2)
20,EO004,ITD07/,NaN,NaN,NaN,NaN,NaN,ITD12(FH),NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),NaN,NaN,NaN,NaN
23,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITD12(SH),NaN,ITC20(T1)
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,ITC21(FH) ITD07/,EO003,ITC20,NaN,NaN,NaN,NaN,ITD18/EO00,NaN,ITC19
28,EO009,NaN,NaN,ITC21,NaN,NaN,NaN,ITD12,NaN,NaN
29,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,ITC21(SH),NaN,NaN,NaN,NaN,NaN

In [11]:
from tabula import convert_into
convert_into('p06.pdf',"test.csv",output_format="csv")