In [19]:
import camelot

In [32]:
table = camelot.read_pdf('p06.pdf',process_background=True,copy_text=['h'])

In [33]:
table

In [34]:
table[0].df

,0,1,2,3,4,5,6,7,8,9,10
0,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...
1,MONDAY,EO003,EO004,ITD07/EO009,ITC20,EO004(T1) EO004(T2),EO004(T1) EO004(T2),EO009(T1) EO009(T2) ITD07(FH),EO009(T1) EO009(T2) ITD07(FH),ITD07(SH),ITD07(SH)
2,TUESDAY,,,ITD12,ITD18/EO005,ITC19,ITC19,ITD18(T1),ITD18(T2),EO004,ITC21
3,WEDNESDAY,ITC21,ITC20,ITC19(T1) ITC20(T2),EO003,EO003(T1),EO003(T2),,ITC19,Free slot for seminars/ meetings etc.,Free slot for seminars/ meetings etc.
4,THURSDAY,EO004,ITD07/ EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),ITC19(T2) ITD12(FH) ITD12(SH) ITC20(T1),
5,FRIDAY,ITD07/ EO009,EO003,ITC20,ITC21,ITC21(FH) ITC21(SH),ITC21(FH) ITC21(SH),ITD12,ITD18/EO005,ITC19,

In [35]:
table[0]

In [36]:
table.export('out.csv', f='csv', compress=False)

In [37]:
table[0].parsing_report

{'accuracy': 96.39, 'whitespace': 7.58, 'order': 1, 'page': 1}

In [38]:
table[0].to_excel('out.xls')