In [19]:
import tabula
import pandas as pd
import numpy as np

In [5]:
df = tabula.read_pdf('p06.pdf')

In [6]:
df

,TIME/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00,12:00-1:00,1:00-2:00,NaN,2:00-3:00 3:00-4:00,NaN,4:00:5:00 5:00- 6:00
1,DAYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EO009(T1) EO009(T2),NaN,NaN
3,EO003,EO004,ITD07/EO009,NaN,NaN,NaN,NaN,NaN,NaN,ITD07(SH)
4,NaN,NaN,NaN,ITC20,EO004(T1),EO004(T2),NaN,NaN,NaN,NaN
5,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITD07(FH),NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,ITD18/EO,NaN,ITC19,NaN,NaN,NaN,EO004
9,NaN,NaN,ITD12,NaN,NaN,NaN,NaN,ITD18(T1) ITD18(T2),NaN,ITC21
10,TUESDAY,NaN,NaN,005,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,ITC19(T1),NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITC19,NaN,NaN
13,NaN,NaN,NaN,EO003,NaN,NaN,NaN,NaN,NaN,Free slot for seminars/ meetings
14,WEDNESDAY ITC21,ITC20,NaN,NaN,EO003(T1),EO003(T2),NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etc.
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,ITC20(T2),NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITC19(T2)
20,EO004,ITD07/,NaN,NaN,NaN,NaN,NaN,ITD12(FH),NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),NaN,NaN,NaN,NaN
23,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITD12(SH),NaN,ITC20(T1)
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,ITC21(FH) ITD07/,EO003,ITC20,NaN,NaN,NaN,NaN,ITD18/EO00,NaN,ITC19
28,EO009,NaN,NaN,ITC21,NaN,NaN,NaN,ITD12,NaN,NaN
29,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,ITC21(SH),NaN,NaN,NaN,NaN,NaN

In [11]:
from tabula import convert_into
convert_into('p06.pdf',"test.csv",output_format="csv")

In [15]:
modif = df.values.tolist()
modif

[['8:00-9:00',
  '9:00-10:00',
  '10:00-11:00',
  '11:00-12:00',
  '12:00-1:00',
  '1:00-2:00',
  nan,
  '2:00-3:00 3:00-4:00',
  nan,
  '4:00:5:00 5:00- 6:00'],
 ['DAYS', nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'EO009(T1) EO009(T2)', nan, nan],
 ['EO003', 'EO004', 'ITD07/EO009', nan, nan, nan, nan, nan, nan, 'ITD07(SH)'],
 [nan, nan, nan, 'ITC20', 'EO004(T1)', 'EO004(T2)', nan, nan, nan, nan],
 ['MONDAY', nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'ITD07(FH)', nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, 'ITD18/EO', nan, 'ITC19', nan, nan, nan, 'EO004'],
 [nan, nan, 'ITD12', nan, nan, nan, nan, 'ITD18(T1) ITD18(T2)', nan, 'ITC21'],
 ['TUESDAY', nan, nan, '005', nan, nan, nan, nan, nan, nan],
 [nan, nan, 'ITC19(T1)', nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'ITC19', nan, nan],
 [nan,
  nan,
  nan,
  'EO003',
  nan,
  nan,
  nan,
  nan,
  nan,
  'Free slot for seminars/ meetings'],
 ['WEDNESDAY ITC21',
  'ITC20',
  nan,
  nan,
  'EO003(T1)',
  'EO003(T2)',
  nan,
  nan,
  nan,
  nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, 'etc.'],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, 'ITC20(T2)', nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, 'ITC19(T2)'],
 ['EO004', 'ITD07/', nan, nan, nan, nan, nan, 'ITD12(FH)', nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan,
  'EO009',
  'ITD18/EO005',
  'ITD12',
  'EO005(T1)',
  'EO005(T2)',
  nan,
  nan,
  nan,
  nan],
 ['THURSDAY', nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, 'ITD12(SH)', nan, 'ITC20(T1)'],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 ['ITC21(FH)  ITD07/',
  'EO003',
  'ITC20',
  nan,
  nan,
  nan,
  nan,
  'ITD18/EO00',
  nan,
  'ITC19'],
 ['EO009', nan, nan, 'ITC21', nan, nan, nan, 'ITD12', nan, nan],
 ['FRIDAY', nan, nan, nan, nan, nan, nan, '5', nan, nan],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [nan, nan, nan, nan, 'ITC21(SH)', nan, nan, nan, nan, nan]]

In [24]:
modif = np.array(modif)
modif.shape

modif.shape[0]

32

In [26]:
def convert_to_array(modif):
    result = [[]];
    for i in range(modif.shape[0]):
        sub_result=[]
        for j in range(modif.shape[1]):
            if modif[i][j]!='nan':
                sub_result.append(modif[i][j])
                
        if len(sub_result)!=0:
            result.append(sub_result)
        
    return result

In [27]:
result = convert_to_array(modif)

In [28]:
result

[[],
 ['8:00-9:00',
  '9:00-10:00',
  '10:00-11:00',
  '11:00-12:00',
  '12:00-1:00',
  '1:00-2:00',
  '2:00-3:00 3:00-4:00',
  '4:00:5:00 5:00- 6:00'],
 ['DAYS'],
 ['EO009(T1) EO009(T2)'],
 ['EO003', 'EO004', 'ITD07/EO009', 'ITD07(SH)'],
 ['ITC20', 'EO004(T1)', 'EO004(T2)'],
 ['MONDAY'],
 ['ITD07(FH)'],
 ['ITD18/EO', 'ITC19', 'EO004'],
 ['ITD12', 'ITD18(T1) ITD18(T2)', 'ITC21'],
 ['TUESDAY', '005'],
 ['ITC19(T1)'],
 ['ITC19'],
 ['EO003', 'Free slot for seminars/ meetings'],
 ['WEDNESDAY ITC21', 'ITC20', 'EO003(T1)', 'EO003(T2)'],
 ['etc.'],
 ['ITC20(T2)'],
 ['ITC19(T2)'],
 ['EO004', 'ITD07/', 'ITD12(FH)'],
 ['EO009', 'ITD18/EO005', 'ITD12', 'EO005(T1)', 'EO005(T2)'],
 ['THURSDAY'],
 ['ITD12(SH)', 'ITC20(T1)'],
 ['ITC21(FH)  ITD07/', 'EO003', 'ITC20', 'ITD18/EO00', 'ITC19'],
 ['EO009', 'ITC21', 'ITD12'],
 ['FRIDAY', '5'],
 ['ITC21(SH)']]

In [29]:
current = pd.DataFrame(result)

In [30]:
current

,0,1,2,3,4,5,6,7
0,None,None,None,None,None,None,None,None
1,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00,12:00-1:00,1:00-2:00,2:00-3:00 3:00-4:00,4:00:5:00 5:00- 6:00
2,DAYS,None,None,None,None,None,None,None
3,EO009(T1) EO009(T2),None,None,None,None,None,None,None
4,EO003,EO004,ITD07/EO009,ITD07(SH),None,None,None,None
5,ITC20,EO004(T1),EO004(T2),None,None,None,None,None
6,MONDAY,None,None,None,None,None,None,None
7,ITD07(FH),None,None,None,None,None,None,None
8,ITD18/EO,ITC19,EO004,None,None,None,None,None
9,ITD12,ITD18(T1) ITD18(T2),ITC21,None,None,None,None,None
10,TUESDAY,005,None,None,None,None,None,None
11,ITC19(T1),None,None,None,None,None,None,None
12,ITC19,None,None,None,None,None,None,None
13,EO003,Free slot for seminars/ meetings,None,None,None,None,None,None
14,WEDNESDAY ITC21,ITC20,EO003(T1),EO003(T2),None,None,None,None
15,etc.,None,None,None,None,None,None,None
16,ITC20(T2),None,None,None,None,None,None,None
17,ITC19(T2),None,None,None,None,None,None,None
18,EO004,ITD07/,ITD12(FH),None,None,None,None,None
19,EO009,ITD18/EO005,ITD12,EO005(T1),EO005(T2),None,None,None
20,THURSDAY,None,None,None,None,None,None,None
21,ITD12(SH),ITC20(T1),None,None,None,None,None,None
22,ITC21(FH) ITD07/,EO003,ITC20,ITD18/EO00,ITC19,None,None,None
23,EO009,ITC21,ITD12,None,None,None,None,None
24,FRIDAY,5,None,None,None,None,None,None
25,ITC21(SH),None,None,None,None,None,None,None

In [36]:
import requests

In [42]:
def pdfToTable(PDFfilename, apiKey, fileExt, downloadDir):
    fileData = (PDFfilename, open(PDFfilename, 'rb'))
    files = {'f': fileData}
    postUrl = "https://pdftables.com/api?key={0}&format={1}".format(apiKey, fileExt)
    response = requests.post(postUrl, files=files)
    response.raise_for_status()
    with open(downloadDir, "wb") as f:
        f.write(response.content)

In [46]:
pdfToTable('p06.pdf','s36vvg3gakze','csv','result')

IsADirectoryError: [Errno 21] Is a directory: 'result'